<div class="container">
  <h1> All articles</h1>
  <div class="col-sm-10 col-sm-offset-1 col-xs-12 blog-content">
    <% @articles.each do |article| %>
    <div class="col-xs-12">
      <div class="text-center">
        <h2><%= article.title %></h2>
        <h6><%= article.created_at.strftime('%b %d, %Y') %></h6>
      </div>

      <div class="text-center">
        <%= raw(article.body).truncate(358) %>
      </div>

      <div class="text-center">
        <%= link_to "READ MORE", article_path(article) %><br>
      </div>
      <% if login?%>
        <div class="text-center">
        <%= link_to 'Edit', edit_article_path(article), class: "btn btn-default"%><br>
        <%= link_to "Delete", article_path(article), class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure?"}%>
        </div>
      <%end%>
      <br>
    </div>
    <% end %>
  </div>
</div>
