<div class="container">
  <div class="post-show-container">
    <div id="post-show" class="col-xs-6">
      <%= image_tag @post.image.url %>
    </div>
    <div id="post-show-2" class="col-xs-6">
      <h2 class="text-left"><%= @post.title %> <span> <%=@post.created_at.strftime('%b %d, %Y') %></span></h2>
      <h3 class="text-left"><%=number_to_currency(@post.cost)%></h3>
      <h6 class="text-left"><%= raw @post.body %></h6>
    </div>
  </div>
</div>
